<div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Blocked</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Blocked Users</a></li>
                </ol>
              </nav>
            </div>
            
          </div>
        </div>
      </div>
    </div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Users</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush" id="data_tables">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Name</th>
                                <th scope="col" class="sort" data-sort="budget">Email</th>
                                
                                <th scope="col">Location</th>
                                <th scope="col" class="sort" data-sort="completion">Mobile</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {{#each blockedUsers}}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{this.name}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget">
                                    {{this.username}}
                                </td>
                               
                                <td>
                                   {{this.location}}
                                </td>
                                <td>
                                   {{this.mobile}}
                                </td>
                                <td class="text-center">
                                    <a href="/admin/unblock-user/{{this._id}}" class="btn btn-dark btn-sm">Unblock</a>
                                    <a href="/admin/delete-user/{{this._id}}" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
