<header id="site-header" class="fixed-top">
    <section class="w3l-header-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h1><a class="navbar-brand" href="/">
                        <span style="color:#4d7ae3 ;">Go</span>Auto
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-lg-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home </a>
                        </li>
                        {{#if userDetails}}
                        <li class="nav-item">
                            <a class="nav-link" href="/bookings/{{userDetails._id}}">Bookings</a>
                        </li>
                        {{/if}}
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav search-right mt-lg-0 ">
                        {{!-- <li class="nav-item mr-3" title="Search"><a href="#search" class="btn search-search">
                                <span class="fa fa-search" aria-hidden="true"></span></a></li> --}}
                                {{#if userDetails}}
                                <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder"style="width:40px;height:40px;"class="rounded-circle" src="/user/profile-images/{{userDetails._id}}.jpg">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold ">{{userDetails.name}}</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu">
                                </a>
                                <a href="/profile/{{userDetails._id}}" class="dropdown-item">
                                    <i class="fa fa-user"></i>
                                    <span >My Account</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item" id="change-password">
                                    <i class="fa fa-lock"></i>
                                    <span >Change Password</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/logout" class="dropdown-item">
                                    <i class="fa fa-sign-out"></i>
                                    <span >Logout</span>
                                </a>
                            </div>
                        </li>
                                {{else}}
                        <li class="nav-item">
                          <a href="/select-login" class="btn text-white btn-style  d-md-block btn-style "
                                style="background-color:#4d7ae3;"><span class="fa fa-user mr-3"
                                    aria-hidden="true"></span>Login</a>
                        </li>
                        {{/if}}
                        
                        
                    </ul>

                    <!-- //toggle switch for light and dark theme -->
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form action="#" method="GET" class="d-sm-flex">
                                <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                <button type="submit">Search</button>
                                <a class="close" href="#url">&times;</a>
                            </form>
                        </div>
                    </div>
                    <!-- /search popup -->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position ml-1">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </section>
</header>

<div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" >
          <div class="form-group">
            <label for="password1" class="col-form-label">Old password</label>
            <input type="password" name="password1" class="form-control" id="password1">
            <input type="hidden" name="userId" value="{{userDetails._id}}" id="userId">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">New password (min 8 characters )</label>
            <input type="password" name="password" class="form-control" id="password" minlength="8" maxlength="14" >
          </div>
          <div class="modal-footer">
            <button  class="btn btn-dark" data-dismiss="modal">Cancel</button>
            <a href="#" class="btn btn-success" id="change">Change</a>
          </div>
        </form>
      </div>
      
 

    </div>
  </div>
</div>
<div class="modal fade" id="changed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Password Changed successfully !
      </div>
      <div class="modal-footer">
        <a type="button" href="#" class="btn btn-dark btn-sm" id="ok">Ok</a>
        
      </div>
    </div>
  </div>
</div>

<script>
    $('#change-password').on('click',function(){
        $('#changepassword').modal('show')
    })

    $('#change').on('click',function(){

    let password1 = document.getElementById('password1').value
    let password = document.getElementById('password').value
    let userId = document.getElementById('userId').value
    $.ajax({
      url:'/change-pass',
      data:{
        password,
        password1,
        userId
      },
      method:'post',
      success:(response)=>{
        if(response.status){
          $('#changepassword').modal('hide')
          $("#changed").modal('show')
          $('#ok').on('click',function(){
            location.reload()
          })
          
        }else{
          alert("Invalid password")
        }
      }

    })

  })
</script>