<div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Bookings</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Bookings</a></li>
                </ol>
              </nav>
            </div>
            
          </div>
        </div>
      </div>
    </div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Details</h3>
                </div>
                {{#if catchErr}}
                <div class="table-responsive">
                    <img src="/user/assets/images/nothing.svg" alt="" style="display:block;margin:0 auto; " 
                    class="col-md-4 ml-auto mr-auto">
                    <div>
                        <h3 class=" text-center ml-5 mt-3 mb-5">No bookings !</h3>
                    </div>
                </div>
                
                {{else}}
                <div class="table-responsive">
                    <table class="table align-items-center table-flush" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">User's Name</th>
                                <th scope="col" class="sort" data-sort="budget">From</th>
                                <th scope="col" class="sort" data-sort="status">To</th>
                                <th scope="col">Price</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{booking.user.name}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget">
                                   {{booking.booking.from}}
                                </td>
                                <td class="budget">
                                  {{booking.booking.to}}
                                </td>
        
                                <td>
                                    {{booking.booking.charge}}/-
                                </td>
                                <td class="text-right">
                                    {{#if drive}}
                                    {{else}}
                                    <a href="#" onclick="accept_drive('{{autoDriver._id}}')" class="btn btn-default" id="accept">Accept</a>
                                    {{/if}}
                                    {{#if drive}}
                                     
                                    <a href="tel:{{booking.booking.mobile}}" class="btn btn-primary btn-sm" id="call" >Call</a>
                                    <a href="/auto/completed/{{autoDriver._id}}" class="btn btn-success btn-sm" id="complete" >Completed</a>
                                    <a href="#" onclick="reportUser()" class="btn btn-danger btn-sm" id="reported_user" >Report</a>
                                    {{else}}
                                    {{/if}}
                                </td>
                            </tr>
                
                        </tbody>
                    </table>
                </div>
                {{/if}}
            </div>
        </div> 
    </div>
</div>
<div class="modal fade" id="reportusermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
                
                <form method="POST" action="/auto/report-user" >
                    
                    <input type="hidden" name="userId" value="{{booking.user._id}}">
                    <input type="hidden" name="autoId" value="{{autoDriver._id}}">
                    <input type="hidden" name="name" value="{{booking.user.name}}">
                   <input type="hidden" name="email" value="{{booking.user.username}}">
                   <input type="hidden" name="reported" value="{{autoDriver.regno}}">
                    <input type="hidden" name="mobile" value="{{booking.user.mobile}}"> 
                    <div class="form-group">
                        <label for="message" class="col-form-label">Issue:</label>
                        <textarea class="form-control" name="message" id="message"></textarea>
                    </div>
                    <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button  class="btn text-white " style="background-image: linear-gradient(to right, #334be6, rgb(204, 13, 188));">Report</button>
            </div>
                </form>
            </div>
            
        </div>
    </div>
</div>